body {
   font-family: 'Roboto', sans-serif;
}

header {
    background-color: #e3fbe3;
    padding: 60px 0;
}

.painel {
    
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    
    position: absolute;
    top: 80px;
    right: 0px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

nav li {
    /* block = na vertical
       inline = horizontal
    */

    display: inline;
    margin: 0 0 0 30px;

}

.lista-produtos {
    width: 940px;
    margin: auto;
    padding: 30px 0px;
}

.lista-produtos li {
    width: 30%;
    display: inline-block;
    text-align: center; /*verticalização horizontal*/
    vertical-align: middle;
    padding: 50px 20px;
    margin: 0 1.5%;
    /*faz com que padding fique dentro dos 30% do width*/
    box-sizing: border-box;
    vertical-align: top;

    background-color: ;
    /*
    border-color: #5b88a5;
    border-width: 10px;
    border-style: solid;*/

    border: 6px solid #59a87d;
    border-radius: 10px;

 }

 .lista-produtos h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
 }

 .produto-desc {
    font-size: 18px;
 }

 .produto-preço {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;

 }

 /*pseudo-classes CSS
 :hover, :active, :link, :visited, : first-child, :nth-child*/

 /*cursor passadndo sobre o item*/
 .lista-produtos li:hover {
    border-color: #f13565;

 }

 .lista-produtos li:active {
    border-color: #8e3f65
 }

 .lista-produtos li:hover h2 {
    font-size: 32px;
 }

 footer {
    background: url("bg.png");
    text-align: center;
    padding: 30px 0;
 }

 .copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
 }

 main {
   width: 940px;
   margin: 0 auto;
   
 }

 form {
   margin: 40px 0;
   
 }

 form label {
   display: block;
   font-size: 20px;
   margin: 0 0 10px;
 }

 .entrada {
   display: block;
   margin: 0 0 20px;
   padding: 10px 25px;
   width: 50%; /*metade do main*/
 }

 .enviar {
   width: 40%;
   padding: 15px 0;
   background: #f13565;
   color: #ffffff;
   font-size: 18px;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
 }

 .enviar:hover {
   background: darkgoldenrod;
   border-radius: 10px;
   transform: scale(1.2);
 }

 /*Força dos marcadores:
 Exemplo::after
 tag: força 1
 classe: força 10
 id: força 100
 classe + tag: 10+1: 11
 id + rag: 100+1: 101
 css inline: superior a todos
 */

 .banner {
   width: 100%;
   margin-bottom: 20px;
 }

 .titulo-principal {
   text-align: center;
   /* 2 x o tamanho original da fonte*/
   font-size: 2em;
   margin: 0 0 1em;
   color: rgba(30, 130, 30, 0.7);
   
 }

 .titulo-principal::first-letter {
   font-weight: bold;
   
 }

 .titulo-principal::before {
   content:'[';
}

.titulo-principal::after{
   content:']';
}


.titulo-principal::first-line {
  font-weight: bold;
  
}

.itens::before {
   content: '🌱';
   font-size: 0.9em;
}

 .subtitulo {
   text-align: center;
   font-size: 1.5em;
   margin: 0 0 1em;
 }

 .principal {
   padding: 3em 0;
   background: #e3fbe3;
 }

 .principal p {
   margin: 0 0 1em;
   line-height: 1.3em;
   text-align: center;

 }
 

 .principal em {
   font-style: italic;
   font-size: 1.2em;

 }

 .principal strong {
   font-weight: bold;
   color: limegreen;

 }

 .produtos {
   padding: 20px;
   background: #e3fbe3;
 }

 .produtos ul {
   display: inline-block;
   vertical-align: top;
   line-height: 2.5em;
   width: 20%;
   margin-left: 30%;
 }

 .itens {
   font-style: italic;
 }

 .imagem-produtos {
   width: 42%;
   opacity: 1;
   transition: 5s;
   box-shadow: 10px 10px 10px 0 #aaaaaa;
 }

 .imagem-produtos:hover {
   opacity: 0;
 }

 .mapa {
   padding: 3em 0;

 }

 .mapa p {
   margin: 0 0 2em;
   text-align: center;
 }

 /*
 first-child
 last-child
 nth-child(2)
 nth-child(2n) = pares
 nth-child(2n+1) = impares (pula 1)
 nth-child(even) = par
 nth-child(odd) = impar
 */

 .itens:nth-child(2n+1){
   font-weight: bold;
 }

 /*seletores avançados*/
 /*seletores avançados
 main > p {
   background: greenyellow;
 }

 h2 + p {
   background: yellow;
 }

 h2 ~ p {
   background: #f13565;
 }

 /* todos os p de .principal que não são da classe .qualquer 
 .principal p:not(.abc){
   background: red;
 }
 */



